// CONTAINER
.search-list {
  position: absolute;
  background-color: white;
  width: 15.5rem;
  border-radius: 0.5rem;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

}

// LIST
.user-list {
  text-align: left;
  padding: 0.5rem 0.5rem;
  border-radius: 0.5rem;
}

.user-list:hover {
  background-color: #2c3e50e0;
  color: white;
  cursor: pointer;
}