// ALBUMS WRAPPER
.albums-wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: 1fr;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: 90%;
  margin: 0 auto;
  padding-bottom: 10rem;
}

// ALBUM CARDS
.album-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #42b9832d;
  border-radius: 0.5rem;
  box-shadow: 2px 2px 3px #2c3e503f;
  padding: 1rem;
}

.album-name {
  font-size: 1.1rem;
}

.album-btn {
  display: flex;
  align-items: center;
  height: 1.7rem;
  border: 0px solid black;
  border-radius: 0.2rem;
  outline: none;
  background-color: rgb(103, 177, 150);
  color: white;
  font-size: 1rem;
  font-weight: 600;
  padding: 1.2rem;
}

.album-btn:hover {
  cursor: pointer;
  background-color: #2c3e50e1;
}

.router-link {
  text-decoration: none;
}

// GO BACK BTN
.back-btn {
  height: auto;
  border: 0px solid black;
  border-radius: 0.2rem;
  outline: none;
  background-color: #2c3e508f;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  padding: 0.5rem;
  margin-top: 1.5rem;
}

.back-btn:hover {
  cursor: pointer;
  background-color: #2c3e50e1;
}

// MEDIA QUERIES
@media only screen and (max-width: 1400px) {
  .albums-wrapper {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media only screen and (max-width: 1150px) {
  .albums-wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media only screen and (max-width: 850px) {
  .albums-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (max-width: 600px) {
  .albums-wrapper {
    grid-template-columns: 1fr;
  }
}